.YearBoxdiv{
    margin-top: 20px;
    text-align: center;
}
.YearBox{
    text-align: center;
    height: 50px;
    width: 200px;
    font-size: 50px;
}

.MonthBoxdiv{
    margin-top: 11px;
    text-align: center;
}
.MonthBox{
    text-align: center;
    height: 50px;
    width: 300px;
    font-size: 50px;
}

.monthtable,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
td{
    width: 100px;
    height: 80px;
    font-size: 60px;
}
.monthtable{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: auto;
}